
@{
    Layout = null;
    var err = ViewBag.ErrorMessage;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>General</title>
</head>
<body>
    <div>
        <h1>Doslo je do greske</h1>
        <p>
            @err
        </p>
    </div>
</body>
</html>