@{
    ViewBag.Title = "Home Page";
}

<div>
    <ul>
        <li>@Html.ActionLink("Odjeli", "Index", "Department")</li>
        <li>
            @Html.ActionLink("Zaposleni", "Index", "Employee")
        </li>
        <li>
            <a href="http://bhas.gov.ba" target="_blank">Agencija za statistiku</a>
        </li>
    </ul>
</div>
